<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <!-- use of js in ejs using ejs tags -->
    <!-- <% %> this tag is used to use js in ejs for control flow
  , if else, switch case and while loops -->
  <!-- <% if (kindofday === 'Tuesday'){ %>
    <h1 style="color:red"> It's <%= kindofday %> </h1> <! adding javaScript variable -->
<!-- <%   } else{%> -->

      <!-- <h1 style="color: blue"> It's <%= kindofday %> </h1>
  <%  } %> -->
  <div class="box" id="heading">
    
      <h1> <%= kindofday %></h1>
  </div>
